// Navigation code here


nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 2% 35%;
    color: #22283B;
    background: gray;
    border-top: none;
    @media @phone{
        width: 100%;
        padding: 1%;
        }
}